/* src/app/navbar.module.css */

.navbar {
    background-color: #F8EDEB;
    padding: 1rem;
  }
  
  .navList {
    list-style-type: none;
    display: flex;
    gap: 2rem; /* Space between items */
    margin: 0;
    padding: 0;
    justify-content: flex-end; /* Align items to the right */
    font-size: 18px;
  }
  
  .navItem {
    color: #000000;
    margin-right: 10px;
    margin-top: 5px;
  }
  
  .navItem a {
    color: inherit;
    padding: 10px 20px 10px;        /* top | left and right | bottom */
    border-radius: 25px;
    text-decoration: overline;
  }
  
  .navItem a:hover {
    border-style: solid;
    border-width: 2px;

    text-decoration: none;
    background-color: #D8E2DC;
    border-color: #000000;
    font-weight: bold;
    color: #000000;
  }
  